@import "../../../colors.module.css";
@import "../../../fonts.module.css";

.container {
    font-family: var(--font-sans);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: 85vh;
}

.projects-title {
    font-family: var(--font-cursive);
    color: var(--bright-pink);
}

.projects-lead-row {
    display: flex;
    flex-flow: row wrap;
    margin: 0 15rem;
    justify-content: space-between;
}